
	body
	{	margin: 0;
		background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
		width: 1920px;
		height: 1080px;
		
	}

	.container
	{
		width: 1920px;
		height: 1080px;
		font-size: 30px;
		font-weight: bold;
		grid-template-columns: 680px ;
		display: grid;
		
	}
	.grid_news
	{
	width: 680px;
	height: 1080px;
	}
	.grid_pineapple
	{
		
	position: absolute;
	width: 1240px;
	height: 1080px;
	left: 680px;
	overflow: hidden;
	top: 0px;
	  
	}
	.grid_pineapple img 
	{
		
	position: absolute;
	width: 1620px;
	height: 1080px;
	top: 0px;
	  
	}
	.Social_icons
	{
	position: absolute;
	width: 244px;
	height: 46px;
	left: 218px;
	top: 539px;
	}

	.Social_icon_line
	{

	position: absolute;
	width: 400px;
	height: 1px;
	left: 140px;
	top: 539px;
	border-bottom: 1px solid #E3E3E4;
		
	}


	.Success
	{
		position: absolute;
		width: 44px;
		height: 70px;
		left: 140px;
		top: 269px;
	}


