
.Top_bar
{
z-index: -1;
position: absolute;
width: 480px;
height: 40px;
left: 100px;
top: 100px;
}

.Pineapple_logo
{
position: absolute;
width: 25px;
height: 40px;
}

.Pineapple_container
{
position: absolute;
width: 118px;
height: 40px;
left: 0px;
top: 0px;
}

a:visited {	/* change style in whole <a> because not used again in different styles*/
	color: #131821;
	
  }

a:link {
	color: #131821;
	
  }

a:hover {
	color: #4066A5;

  }
  
  /* selected link */
  a:active {
	color: #233759;

  }

.About_txt
{
	position: absolute;
	width: 42px;
	height: 26px;
	left: 331px;
	top: 114px; 
	
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	
}

.How_works
{

	position: absolute;
	width: 91px;
	height: 26px;
	left: 403px;
	top: 114px; 
	
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	
}

.Contact
{
position: absolute;
width: 56px;
height: 26px;
left: 524px;
top: 114px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;

}